[Unit]
Description=New Relic Server Monitoring
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill nrsysmond
ExecStartPre=-/usr/bin/docker rm nrsysmond
ExecStartPre=/usr/bin/docker pull {{ newrelic_image }}
ExecStart=/usr/bin/docker run --privileged=true --name nrsysmond --pid=host --net=host -v /sys:/sys -v /dev:/dev -v /var/run/docker.sock:/var/run/docker.sock -v /var/log:/var/log:rw -e NRSYSMOND_license_key={{ newrelic_license_key }} -e NRSYSMOND_logfile={{ newrelic_logfile }} {{ newrelic_image }}
ExecStop=/usr/bin/docker stop nrsysmond
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
